.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #132225;
  border: 1px solid #132225;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #0a1113;
  border-color: #030303;
}
